<%- include('../partials/header.ejs');%>

    
<img style="width: 500px; height: 400px; margin-left: 25%;" src="/img/correct.png" alt="">

<h2 class="agenda" style="text-align:center;">Cliente Agendado com sucesso</h2>

<%- include('../partials/modalProcedimento.ejs');%>
<%- include('../partials/footer.ejs');%>

