<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernet@</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        

         body {
            font-family: 'Poppins', sans-serif;
            padding-top: 0; /* Remover a compensação do cabeçalho */
            
            overflow-x: hidden;
        }

        /* Header fixo com transparência */
      .navegacao  header {
            z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: #000000; /* Preto sólido */ /* Preto suave */ /* Azul escuro suave */
    height: 150px;
        }

        .navegacao  header.fixed-top.scrolled {
           
            background-color: rgba(0, 51, 102, 0.8); 


                }

                .navegacao .nav-link {
            font-size: 1.3rem;
            margin-left: 1rem;
            transition: color 0.3s;
            position: relative;
            overflow: hidden; /* Para permitir a animação do fundo */
            color: #ffffff; /* Cor padrão do texto */
        }

        .navegacao   .nav-link:hover {
            color: #007bff; /* Destaque no hover */
        }

        .navegacao .nav-link i {
            margin-right: 0.5rem;
        }

        .navegacao .nav-link::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 123, 255, 0.5); /* Cor azul clara */
            transform: translateY(-100%); /* Começa fora da tela */
            transition: transform 0.3s ease; /* Transição suave */
            z-index: 0; /* Fica atrás do texto */
        }

        .navegacao .nav-link:hover::before {
            transform: translateY(0); /* Move para a posição visível */
        }

        .navegacao  .nav-link:hover {
            color: #ffffff; /* Mantém a cor do texto ao passar o mouse */
        }

        .navegacao .nav-link i {
            transition: transform 0.3s; /* Transição suave para ícones */
        }

        .navegacao .nav-link:hover i {
            transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
        }

        /* Estilização dos Dropdowns */
        .navegacao  .dropdown-menu {
            background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro e transparente */
            border-radius: 0.5rem; /* Bordas arredondadas */
            transition: all 0.3s ease; /* Transição suave */
        }

        .navegacao  .dropdown-item {
            color: #ffffff; /* Cor do texto */
            transition: background-color 0.3s, transform 0.3s; /* Transição suave para o fundo e transformação */
        }

        .navegacao  .dropdown-item:hover {
            background-color: rgba(0, 123, 255, 0.5); /* Cor ao passar o mouse */
            transform: scale(1.05); /* Leve aumento no item */
        }

        .navegacao  .dropdown-item i {
            margin-right: 0.5rem; /* Espaçamento entre ícone e texto */
            transition: transform 0.3s; /* Transição suave para ícones */
        }

        .navegacao  .dropdown-item:hover i {
            transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
        }



        /* Responsividade */
        @media (max-width: 768px) {
            .navegacao   header.fixed-top {
                background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro para dispositivos móveis */
            }

            .navegacao  h1.display-1 {
                font-size: 3rem;
            }

            .navegacao .nav-link {
                font-size: 1rem;
            }

            .navegacao  .hero {
                padding-top: 100px; /* Ajuste para header fixo em telas menores */
            }
        }

        .navegacao .logo img {
            height: 240px !important; /* Aumente a altura do logotipo conforme necessário */
            width: auto; /* Mantém a proporção */
            position: absolute; /* Permite que o logotipo não afete o layout */
            top: -50px !important; /* Mantenha a posição para cima */
            left: 100px !important;
        }
    </style>
</head>
<body>
    
    <div class="navegacao">
        <header class="fixed-top">
            <nav class="container d-flex justify-content-between align-items-center py-3">
                <div class="logo text-white">
                    <img src="/img/logo3.png" alt="Logo" style="height: 220px; position: absolute; top: -20px; left: -20px;">
                </div>
                <ul class="nav ms-auto d-none d-md-flex align-items-center">
                    <li class="nav-item"><a href="/" class="nav-link text-white"><i class="bi bi-house-door"></i> Inicio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-person"></i> Perfil</a></li>
                    <li class="nav-item"><a href="/formulario-de-membros" class="nav-link text-white"><i class="bi bi-people"></i> Adicionar Membros</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bar-chart"></i> Relatórios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/relatorios"><i class="bi bi-file-earmark-text"></i> Relatórios Descritivos/Estatísticos</a></li>
                            <li><a class="dropdown-item" href="/financas-page"><i class="bi bi-wallet"></i> Relatório Financeiro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-plus-square"></i> Inserir
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/ofertas-pagina"><i class="bi bi-file-earmark-plus"></i> Ofertas</a></li>
                            <li><a class="dropdown-item" href="/dizimos-pagina"><i class="bi bi-file-earmark-plus"></i> Dizimos</a></li>
                            <li><a class="dropdown-item" href="/despesas-page"><i class="bi bi-file-earmark-plus"></i> Despesas</a></li>
                            <li><a class="dropdown-item" href="/quotas-pagina"><i class="bi bi-file-earmark-plus"></i>Quotas</a></li>
                            <li><a class="dropdown-item" href="/departamento-pagina"><i class="bi bi-file-earmark-plus"></i> Departamento</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex d-none d-md-flex">
                    <a href="#" class="btn btn-outline-light me-3">Book Online</a>
                    <a href="#" class="btn btn-warning"> <img style="width: 40px; height: 40px;" src="/img/homem.png" alt=""> Perfis de membros</a>
                </div>
                <button class="btn btn-outline-light d-md-none" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
                    <i class="bi bi-list"></i>
                </button>
            </nav>
    
            <!-- Offcanvas Menu para Móveis -->
            <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="mobileMenu">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-house-door"></i> Inicio</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-person"></i> Perfil</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-people"></i> Adicionar Membros</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-bar-chart"></i> Relatórios
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item text-white" href="#"><i class="bi bi-file-earmark-text"></i> Relatórios Descritivos/Estatísticos</a></li>
                                <li><a class="dropdown-item text-white" href="#"><i class="bi bi-wallet"></i> Relatório Financeiro</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-plus-square"></i> Inserir
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item text-white" href="#"><i class="bi bi-file-earmark-plus"></i> Inserir Ofertas</a></li>
                         <li><a class="dropdown-item text-white" href="/dizimos-pagina"><i class="bi bi-file-earmark-plus"></i> Inserir Dizimos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="mt-3">
                        <a href="#" class="btn btn-outline-light w-100 mb-2">Book Online</a>
                        <a href="tel:+013312345678" class="btn btn-warning w-100">📞 +0133-12345678</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    
   
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        // Adiciona classe ao header quando rolar a página
        window.addEventListener('scroll', function() {
            const header = document.querySelector('header');
            header.classList.toggle('scrolled', window.scrollY > 0);
        });
    </script>
</body>
</html>
